a {
  text-decoration: none !important; }

header {
  background-color: #4ABDAC;
  padding: 1rem; }

header h1 {
  font-size: 36px; }

header h1 {
  color: #000; }

header h1 a:hover {
  color: #fff;
  cursor: pointer; }

main {
  background-color: #F7B733; }

/* NAVBAR */
.navbar {
  background: #FC4A1A; }
  .navbar .navbar-toggler {
    border-color: #fff; }
  .navbar .nav-link {
    color: #fff !important;
    opacity: 0.7; }
  .navbar .nav-link:hover {
    opacity: 1; }
  .navbar .active {
    opacity: 1 !important;
    font-weight: bold; }

/*  FOOTER */
footer {
  color: #fff;
  background: #4abdac;
  font-size: 14px; }
  footer ul {
    list-style: none;
    padding: 0; }
  footer .redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .redes-sociales a {
      padding: .4rem;
      color: #fff;
      border-radius: 100%;
      background: #f1f1; }
    footer .redes-sociales a:hover {
      color: #f1f1f1; }
  footer .info-contacto li {
    margin-top: 1rem; }

/* VISTA MOBILE*/
@media only screen and (max-width: 600px) {
  #grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "menu" "main" "footer"; }
  #grillaGaleria {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "menu" "main" "footer"; }
  ul {
    flex-direction: column; }
  #imagen {
    margin-top: 1rem;
    margin-left: 1rem; } }

/* DESKTOP O ESCRITORIO*/
@media only screen and (min-width: 600px) {
  #grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "menu" "main" "footer"; }
  #grillaGaleria {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "menu" "main" "footer"; }
  ul {
    flex-direction: row; }
  #grillaImagenes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  #imagen {
    width: 30%;
    margin-top: 1rem;
    margin-left: 1rem; }
  .footer {
    font-size: 16px; }
    .footer .redes-sociales {
      max-width: 200px; } }
